<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="traveltypesuppliers" value="3,2,4,31,32,39,46,50"/>
    <add key="timestypesuppliers" value="30,22,19,8,35,36,37"/>
    <add key="setypesuppliers" value="1"/>
    <add key="voyagesuppliers" value="16,51"/>
    <add key="emailSubject" value="Secret Escape Price Updates"/>
    <add key="emailSender" value="noreply@fleetway.com"/>
    <add key="emailSenderName" value="Fleetway Travel plc"/>
    <add key="emailServer" value="lonpost.fleetwaytravel.local"/>
    <add key="seEmailsPath" value="M:\Apps\Gulliver\SE Files"/>
    <add key="fleetwayLivePagePath" value="ftp://172.16.7.2/deals/"/>
    <add key="fleetwaydraftPagePath" value="ftp://172.16.7.2/deals_test/"/>
    <add key="fleetwaydraftPageURL" value="http://draft.fleetwaytravel.com/deals_test/"/>
    <add key="fleetwayLivePageURL" value="http://www.fleetwaytravel.com/deals/"/>
    <add key="fleetwayTempPath" value="C:\TEMP\"/>
    <add key="username" value="advertising"/>
    <add key="password" value="7venc-dd6_xc"/>
    <add key="james" value="\\fleetwaytravel.local\efilerdata$\Docca\Images\Signatures\signed_by_james.jpg"/>
    <add key="jonb" value="\\fleetwaytravel.local\efilerdata$\Docca\Images\Signatures\signed_by_jon.jpg"/>
    <add key="lukez" value="\\fleetwaytravel.local\efilerdata$\Docca\Images\Signatures\signed_by_luke.jpg"/>
    <add key="charlotte" value="\\fleetwaytravel.local\efilerdata$\Docca\Images\Signatures\signed_by_charlotte.jpg"/>
    <add key="tomasd" value="\\fleetwaytravel.local\efilerdata$\Docca\Images\Signatures\signed_by_tomas.jpg"/>
    <add key="magdalena" value="\\fleetwaytravel.local\efilerdata$\Docca\Images\Signatures\signed_by_magda.jpg"/>
    <add key="danielk" value="\\fleetwaytravel.local\efilerdata$\Docca\Images\Signatures\signed_by_daniel.jpg"/>
    <add key="divasanaj" value="\\fleetwaytravel.local\efilerdata$\Docca\Images\Signatures\signed_by_magda.jpg"/>
    <add key="stefanied" value="\\fleetwaytravel.local\efilerdata$\Docca\Images\Signatures\signed_by_stefanied.jpg"/>
    <add key="annettes" value="\\fleetwaytravel.local\efilerdata$\Docca\Images\Signatures\signed_by_annette.jpg"/>
    <add key="adamd" value="\\fleetwaytravel.local\efilerdata$\Docca\Images\Signatures\signed_by_adamd.jpg"/>
    <add key="javier" value="\\fleetwaytravel.local\efilerdata$\Docca\Images\Signatures\signed_by_javier.jpg"/>
    <add key="harryr" value="\\fleetwaytravel.local\efilerdata$\Docca\Images\Signatures\signed_by_harry.jpg"/>
    <add key="filePath" value="\\fleetwaytravel.local\guliver$"/>
    <add key="gulliverDefaultPath" value="%LOCALAPPDATA%\Fleetway Travel\Gulliver\Temp\"/>
    <add key="gulliverBucket" value="%APPDATA%\Fleetway Travel\Gulliver\Bucket\"/>
    <add key="gulliverNewBucket" value="%LOCALAPPDATA%\Fleetway Travel\Gulliver\Bucket\"/>
    <add key="gulliverSettingFlies" value="\\fleetwaytravel.local\data\Apps\Gulliver\Files"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
